.site-header {
	box-shadow: 0 0 10px rgba(black, .15);
	position: sticky !important;
	top: 0;
}

.header__titles {
	width: 100%;
	max-width: rem(300);

	@include breakpoint(menu, max) {
		margin: 0 auto;
	}

	@include breakpoint(menu) {
		flex: 1 1 auto;
	}
}

.header__navigation {

	a {
		font-family: $primary-font-stack !important;

		@include breakpoint(menu) {

			@include breakpoint(1200px, max) {
				font-size: rem(12);
				letter-spacing: rem(2);
			}
		}
	}

	@include breakpoint(menu) {
		flex: none;
		padding-left: 4vw;
	}
}
