.hustle-popup {
	background: rgba(black, .5);

	.hustle-layout {
		background: #fff;
		padding: 4vw;
	}

	.hustle-group-title {
		border-bottom: none !important;
	}

	.hustle-title {
		font-weight: bold !important;
	}

	.hustle-icon-close {
		margin-right: 0 !important;
	}
}

.hustle-button {
	background: $primary-color;
	border-radius: rem(100) !important;
	color: #fff;
	font-size: rem(12) !important;
	font-weight: 600 !important;
	height: auto !important;
	letter-spacing: rem(3) !important;
	line-height: rem(12) !important;
	overflow: hidden;
	overflow-wrap: break-word;
	word-break: break-word;
	padding: rem(28) rem(32) !important;
	text-align: center;
	text-rendering: optimizeLegibility;
	text-transform: uppercase;
	vertical-align: bottom;

	&::after {
		content: " ";
		background: currentColor;
		display: block;
		height: rem(10);
		position: absolute;
		right: 2rem;
		left: 2rem;
		bottom: 0;
		transform: translateY(100%);
		transition: transform .2s cubic-bezier(.7,0,.3,1),-webkit-transform .2s cubic-bezier(.7,0,.3,1);
	}

	&:hover,
	&:focus {
		background: #000;
		color: #fff;

		&::after {
			transform: translateY(0);
		}
	}
}
