.wp-block-coblocks-hero {

	h1 {
		font-weight: 700 !important;

		@include breakpoint(lg) {
			font-size: rem(70);
		}
	}

	h2 {

		@include breakpoint(md, max) {
			font-size: rem(18) !important;
		}
	}

	&__inner {

		&.has-center-content {

			.wp-block-coblocks-hero__content {
				margin: 0 auto;
			}
		}

		&.is-fullscreen {
			height: calc(100vh - #{rem(120)});

			@include breakpoint(md, max) {
				max-height: rem(380);
			}
		}

		&.hero-bottom-center-align {

			&::before {
				@include absolute-fill;
				content: " ";
				background: linear-gradient(to top,rgba(0,0,0,.7),rgba(0,0,0,.5) 120px,rgba(0,0,0,0) 280px);

				@include breakpoint(md) {
					background: linear-gradient(to top,rgba(0,0,0,.7), rgba(0,0,0,.5) 250px ,rgba(0,0,0,0) 380px);
				}
			}

			.wp-block-coblocks-hero__content-wrapper {
				position: relative;
			}
		}
	}
}
