.wp-block-cover {

	&__inner-container {
		padding-top: 9vw !important;
		padding-bottom: 9vw !important;

		@include breakpoint(lg) {
			padding-top: rem(100) !important;
			padding-bottom: rem(100) !important;
		}

		> * {

			&:first-child {
				margin-top: 0 !important;
			}

			&:last-child {
				margin-bottom: 0 !important;
			}
		}
	}

	&.blur {
		overflow: hidden;

		&::before {
			z-index: 2 !important;
		}

		&::after {
			content: " ";
			background-image: inherit;
			filter: blur(16px);
			position: absolute;
			top: rem(-20);
			right: rem(-20);
			bottom: rem(-20);
			left: rem(-20);
			z-index: 1;
		}

		.wp-block-cover__gradient-background {
			z-index: 3;
		}

		.wp-block-cover__inner-container {
			position: relative;
			z-index: 4;
		}

		&.has-parallax {

			&::after {
				background-attachment: fixed;
			}
		}
	}

	@include touch {
		background-attachment: initial;
	}
}
