.wp-block-quote {

	p {
		font-style: normal;
		font-size: rem(24) !important;

		@include breakpoint(md) {
			font-size: rem(32) !important;
		}
	}

	&[style*="color"] {
		border-left-color: currentColor !important;

		*:not(.has-inline-color) {
			color: inherit !important;
		}
	}

	&.is-style-small {

		p {
			font-weight: normal !important;
			font-size: rem(21) !important;
			line-height: 1.6;
		}

		cite {
			margin-top: 0 !important;
		}
	}
}
